//POPCORN-TIME-THEME:devil-0.1 

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #000000
    $BgColor2 = #1D1D1D

    $Text1 = #d9d9d9
    $Text2 = #d9d9d9
    $Text3 = rgba(#d9d9d9,.8)
    $Text4 = rgba(#d9d9d9,.8)
    $TextError = rgba(#d2d2d2, 0.8)

    $CloseButton = #e74c3c
    $CloseButtonHover = #c0392b

    $SpinnerColor1 = rgba(#fff,.3)
    $SpinnerColor2 = #FF0000

    $ScrollBarBg = #1D1D1D
    $ScrollBarThumb = #FF0000
    $ScrollBarThumbHover = #B20000

//Top Bar
    $TitleBarBg = #000000
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #FF0000

    $FilterBarBg = #000000
    $FilterBarText = #fff
    $FilterBarTextHover = #FF0000
    $FilterBarActive = #FF0000

    $SearchBoxBg = #6D6D6D

    $DropDownBg = #191919
    $DropDownBgHover = #FF0000
    $DropDownTextHover = #fff
    $DropDownText = #e1e4e7
    $DropDownOpacity = 1.00

    $FilterBarIcon = #fff
    $FilterBarIconHover = #FF0000
    $FilterBarIcon-PosterWidth = #bababa

    $TopBarShadow = 0px 6px 8px -4px rgba(255, 0, 0, 0.6)


//Buttons
    $ButtonBg = #FF0000
    $ButtonBgHover = #FF4747
    $ButtonBgActive = #B20000

    $ButtonBgDisabled = #d1d5d8

    $ButtonBgOk = #27AE60
    $ButtonBgWarning = #F15153

    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 6px

//Checkbox
    $CheckboxBg = #5E5F60
    $CheckboxCheck = #FF0000

//Posters
    $PosterRadius = 0px
    $PosterHoverBorder = #FF0000
    $PosterHoverOverlay = rgba(#34495e, 0.5)
    $PosterShadow = 0px 0px 1px

//TV Series
    $ShowBgColor1 = #1D1D1D
    $ShowBgColor2 = #343434

    $EpisodeDetailsBg = #1D1D1D

    $ShowText1 = #FFFFFF
    $ShowText2 = #FFFFFF

    $SaisonListText = #FFFFFF
    $EpisodeListText = #FFFFFF

    $EpisodeSelectorBg = rgba(#FF0000,0.6)
    $EpisodeSelectorHover = darken($ShowBgColor2,10%)
    $EpisodeSelectorText = #fff

    $ShowWatchedIcon_false = rgba(#E6E6E6,0.3)
    $ShowWatchedIcon_hover = rgba(#DCDCDC,0.6)
    $ShowWatchedIcon_true = #fff

    $QualitySelector = $ButtonBg

//File selector
    $FileSelectorText = #34495e
    $FileSelectorBg = rgba(255, 255, 255, 0.05)
    $FileSelectorShadow = rgba(0, 0, 0, 0)

//Settings
    $SettingsCategoriesText = #FF0000
    $SettingsSeparator = #fff

    $InputBoxBg = #6D6D6D
    $InputBoxText = #EBEBEB

    $SettingsText1 = #EBEBEB
    $SettingsText2 = #EBEBEB

    $SettingsButtonText = #fff
    $SettingsButtonTextHover = #fff

// Notifications
    $NotificationText = #fff
    $NotificationInfo = #3498DB
    $NotificationSuccess = #27AE60
    $NotificationWarning = #dbb756
    $NotificationOrange = #f07f53
    $NotificationError = #f15153
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//Misc
    $FavoriteColor = #e74c3c
    $WarningColor = #000
    $PngLogo = brightness(1.0)
    $PngLogo_BgColo1 = brightness(0.4)

//Player
    $PlayerColor = #FF0000


//POPCORN-TIME-THEME:devil-0.1
@import 'views/app'
